body {
    background-color: #f2f2f2;
}

.mainbody {
    background-color: #fcf7ec;
    padding: 0;
}

nav.navbar {
    background: #11763c !important;
    height: 35px !important;
    color: white;
    border-radius: 0 !important;
}

a.nav-link {
    color: white !important;
    margin-right: 15px;
    letter-spacing: 0;
}

#myNavbar li a:hover {
    background-color: #32704c;
    height: 35px !important;
}

.banner-image {
    width: 100%;
}

.banner-image2 {
    height: 80px;
    overflow: hidden;
}

.banner-image2 img {
    width: 100%;
}


.banner-container img {
    opacity: 0.6;
}

.below-banner-text {
    background-color: #c99d4a;
    color: white;
    padding: 2px 0 2px 10px;
}

table.table thead th {
    font-size: 13.5px;
    font-weight: normal;
}

.unconfirmed {
    color: rgb(223, 35, 35) !important;
    font-style: italic;
}

.confirmed {
    color: green !important;
    font-style: italic;
}

.main-button {
    background: rgb(6, 51, 4);
    color: white;
    width: 200px;
    height: 100px;
    margin-right: 8px;
    font-size: 25px;
    border-radius: 0 !important;
    text-transform: capitalize;
    font-weight: 500;
}

.main {
    padding-top: 55px;
    padding-bottom: 25px;
}

.copyright{
	text-align: center;
	background-color: #11763c;
	color: white;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 10px;
}

.copyright p{
	margin: 0;
}

.mainbody a.tt1 {
    text-decoration: underline !important;
    font-weight: bold;
}
